body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('Imagenes/avion5.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario {
  background-color: rgba(15, 186, 192, 0.6); 
  padding: 2rem;
  border-radius: 10px;
  color: white;
  width: 450px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.formulario h2 {
  text-align: center;
  margin-bottom: 10px;
}

.formulario input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
}

.formulario button {
display: block;
width: 50%;
margin: 15px auto 0 auto;
  padding: 12px;
  background-color: #1E90FF;
  color: white;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;

}

.formulario button:hover {
  background-color: #eb1728;

}